SOROBAN_RPC_URL=sorobanrpc
NETWORK=testnet
REPUTATION_CONTRACT_ID=<rep_contract_id>
EVENT_CONTRACT_ID=<event_contract_id>
PROJECT_CONTRACT_ID=<project_contract_id>
ADMIN_SECRET=ad_secret
PLATFORM_SECRET=plat_secret
